.text-input{
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.photo {
  height: 600px;
  width: 600px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
