<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="4.9.0-beta1" targetFramework="net452" />
  <package id="NSubstitute" version="1.6.0.0" targetFramework="net452" />
  <package id="NSubstitute.StructureMap.AutoMocking" version="1.0.0.0" targetFramework="net452" />
  <package id="structuremap" version="2.6.4.1" targetFramework="net452" />
  <package id="structuremap.automocking" version="2.6.4.1" targetFramework="net452" />
</packages>